.about{
    font-style: italic;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}